<!DOCTYPE html>
<html lang="en">

<head>
  
  {% include 'metaData.html' %}



  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->

  <style>
    /* date picker start */

 /* Style the input box */
 .form-control {
        width: 200px; /* Set your desired width */
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: rgb(251, 255, 254);
      }
      /* Style the placeholder text */
      ::placeholder {
        color: #999; /* Customize the placeholder color */
      }

/* date picker ends*/

    .text-primary{
      color: #00579c !important;
    }
     .btn-primary {
      background-color: #00579c !important;
      border-color: #00579c !important;

    }
    .page-item.active .page-link {
      background-color: #00579c !important;
    }
    .layout-px-spacing {
      min-height: calc(100vh - 166px) !important;
    }
    .paths:hover{
      text-decoration: underline;
    }

    #select-all{
      cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%; 
    display: inline-block;
    vertical-align: middle;
    }

    .checkbox {
      cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #8080805b;
    border-radius: 50%; 
    display: inline-block;
    vertical-align: middle;
  }

.checkbox:checked {
  border: 2px solid rgb(0, 119, 255);
    background: url('../static/assets/img/tick-svgrepo-com.png'); 
    background-size: 100% 100%; /* Make sure the image covers the entire checkbox */
  }

.checkbox:active {
  border: 2px solid rgb(0, 119, 255);

    background: url('../static/assets/img/tick-svgrepo-com.png'); /* Set the background image when the checkbox is clicked */
    background-size: 100% 100%; /* Make sure the image covers the entire checkbox */
  }

  tr{
    transition: all 0.1s ease-in-out;
  }
 tr:not(:first-child):hover {
  transform: scale(1.01);
}
th:first-child::after{
  content: "" !important;
}
th:first-child::before{
  content: "" !important;
}

td,th{
  padding: 15px !important;
  border: none !important;
  border-bottom:2px solid #00000033 !important ;
  text-align: left !important;
}
.layout-px-spacing {
        min-height: calc(100vh - 166px) !important;
      }
   
  </style>

  <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
</head>

<body>
  <!-- BEGIN LOADER -->
  <div id="load_screen">
    <div class="loader">
      <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
      </div>
    </div>
  </div>
  <!--  END LOADER -->

  <!--  BEGIN NAVBAR  -->
  <div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">
      <ul class="navbar-item theme-brand flex-row text-center">


        <li class="nav-item theme-text">
          <a href="{{ url_for('ITdashboard') }}" class="nav-link">
            AMLCFT
          </a>
        </li>
      </ul>

      <ul class="navbar-item flex-row ml-md-auto">
        <li class="nav-item dropdown notification-dropdown">
          <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="notificationDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-bell">
              <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
              <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
            </svg><span class="badge badge-success"></span>
          </a>
          <div class="dropdown-menu position-absolute" aria-labelledby="notificationDropdown">
            <div class="notification-scroll">

              <div class="dropdown-item">
                <div class="media">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-heart">
                    <path
                      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                    </path>
                  </svg>
                  <div class="media-body">
                    <div class="notification-para"><span class="user-name">Shaun Park</span> likes your photo.</div>
                  </div>
                </div>
              </div>

              <div class="dropdown-item">
                <div class="media">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-share-2">
                    <circle cx="18" cy="5" r="3"></circle>
                    <circle cx="6" cy="12" r="3"></circle>
                    <circle cx="18" cy="19" r="3"></circle>
                    <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                    <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                  </svg>
                  <div class="media-body">
                    <div class="notification-para"><span class="user-name">Kelly Young</span> shared your post</div>
                  </div>
                </div>
              </div>

              <div class="dropdown-item">
                <div class="media">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-tag">
                    <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
                    <line x1="7" y1="7" x2="7" y2="7"></line>
                  </svg>
                  <div class="media-body">
                    <div class="notification-para"><span class="user-name">Kelly Young</span> mentioned you in comment.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown user-profile-dropdown">
          <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="../static/assets/img/avatar.jpg" alt="avatar" />
          </a>
          <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
            <div class="">
              <div class="dropdown-item">
                <a class="" href="{{ url_for('profileIT') }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-user">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                  My Profile</a>
              </div>

            </div>
            <div class="dropdown-item">
              <a class="" href="{{ url_for('logout') }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="feather feather-log-out">
                  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                  <polyline points="16 17 21 12 16 7"></polyline>
                  <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                Sign Out</a>
            </div>
          </div>
  </div>
  </li>
  </ul>
  </header>
  </div>
  <!--  END NAVBAR  -->

  <!--  BEGIN NAVBAR  -->
  <div class="sub-header-container">
    <header class="header navbar navbar-expand-sm">
      <a
        href="javascript:void(0);"
        class="sidebarCollapse"
        data-placement="bottom"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-menu"
        >
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </a>

      <ul class="navbar-nav flex-row" style="gap: 10px;">
        <li>
          <div class="page-header">
            <div class="page-title">
               <nav class="breadcrumb-one" aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('ITNextLevel') }}" class="text-blue font-weight-bold">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                  <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                  <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                  </a></li>
              </ol>
          </nav>
            </div>
          </div>
        </li>
        <li>
          <a href="{{url_for('ITNextLevel')}}" class="text-primary">/ <span class="paths ">Alerts</span></a>
          
        </li>
      </ul>
    </header>
  </div>
  <!--  END NAVBAR  -->



    <!--  BEGIN CONTENT PART  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

      <div class="overlay"></div>
      <div class="search-overlay"></div>

      <!--  BEGIN SIDEBAR  -->
      {% include 'sidebar.html' %}

      <!--  END SIDEBAR  -->

      <!--  BEGIN CONTENT AREA  -->
      <div id="content" class="main-content">
        <div class="layout-px-spacing">

          <div class=" layout-top-spacing">


          


            <!-- <div id="content" class="main-content">
              <div class="layout-px-spacing"> -->
  
                  <div class="row layout-top-spacing layout-spacing">
                      <div class="col-lg-12 ">
                          <div class="statbox widget box box-shadow">
                            
                <div class="d-flex widget-content widget-content-area justify-content-center pb-2">
                  <button id="submit-button" disabled class="btn btn-primary" onclick="subToNextLevel()" >Submit</button>
                </div>
                <p style="text-align: center;user-select: none;font-size: 10px;" class="text-danger">*select all rows to submit the data</p>

                <div class="form-group mb-0 widget-content widget-content-area pb-0 "
                style="display: flex;justify-content: end;align-items: center;gap: 10px;">
                <label style="font-size:20px;font-weight:500;color: #8e949d;text-wrap: nowrap;" class="mt-2">Date : </label>
                <input id="rangeCalendarFlatpickr" class="form-control flatpickr flatpickr-input active" type="text" style="background-color: transparent !important;"
                  placeholder="Select Date Range.." />
              </div>
                             
                              <div class="widget-content widget-content-area">
                                  <div class="table-responsive mb-4 " >
                                    
                                      <section>

              <table id="example" class="display nowrap" style="width: 100%">
                <thead>
                  <tr>
                    <th></th>
                    <th><input type="checkbox" id="select-all" class="checkbox" /></th>
                    <th>ID</th>
                    <th>DATE</th>
                    <th>ACCOUNT NO.</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>EMAIL</th>
                    <th>MOBILE NO.</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                    
                    
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                      <td><input type="checkbox" class="checkbox" disabled/></td>
                      
                      
                      <td>00112233</td>
                      <td>20/12/2000</td>
                      <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                   
                   
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                    
                  
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                    
                   
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                   
                  
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                      <td><input type="checkbox" class="checkbox" disabled/></td>
                      
                    
                      <td>00112233</td>
                      <td>20/12/2000</td>
                      <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                  
                   
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                    
                  
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                   
                  
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                   
                    
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>900000100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="checkbox" class="checkbox" disabled/></td>
                    
                  
                    <td>00112233</td>
                    <td>20/12/2000</td>
                    <td>123456789</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>abc@mail</td>
                    <td>700000100</td>
                  </tr>
                  <!-- Add more rows with your own data as needed -->
                </tbody>
                
              </table>
            
    </section>
           
            

      <!--  END CONTENT AREA  -->

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-wrapper justify-content-center">
      <div class="footer-section f-section-1">
          <p class="">Copyright © 2023 <a target="_blank" href="">AMLCFT</a>,
              All rights reserved.</p>
      </div>
      
  </div>
    </div>
  </div>

    
    <!-- END MAIN CONTAINER -->



    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="../static/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../static/assets/js/app.js"></script>


    <script
      type="text/javascript"
      language="javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"
    ></script>
    <script>
      $(document).ready(function () {
        App.init();
      });

     
    </script>
    <script src="../static/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="../static/plugins/apex/apexcharts.min.js"></script>

    <script src="../static/assets/js/dashboard/dash_1.js"></script>

    <!-- <script src="../static/assets/js/tables.js/tableCheckBox.js"></script> -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

    <script src="../static/plugins/table/datatable/datatables.js"></script>

    <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"
  ></script>
    <script>

$(document).ready(function () {
        let table = $("#example").DataTable({
          rowReorder: {
            selector: "td:nth-child(2)",
          },
          responsive: true,
        });

          $(document).ready(function () {
                        $("#select-all").on("change", function () {
                          let checkedAll = $("#select-all").is(":checked");

                          if (checkedAll) {
                            $("#submit-button").prop("disabled", false);
                          } else {
                            $("#submit-button").prop("disabled", true);
                          }
                        });
                      });
        
    
        // Add a click event to the "Select All" checkbox
        $("#select-all").on("click", function () {
          let rows = table.rows({ page: "all" }).nodes();
          let allChecked = this.checked;
          $(".checkbox", rows).prop("checked", allChecked);
          table.rows({ page: "all" }).select();
         

        });

        // Add a click event to the submit button
        $("#select-all").on("click", function () {
          let allChecked = this.checked;
          // Check or uncheck individual checkboxes based on the "Select All" checkbox
          $(".checkbox").prop("checked", allChecked);
          
        });

        // Add a click event to the submit button
        $("#submit-button").on("click", function () {
          let selectedData = [];
          table.rows().every(function (rowIdx, tableLoop, rowLoop) {
            let row = this.node();
            if ($("input.checkbox", row).prop("checked")) {
              let data = this.data();
              let statusElement = $("td:eq(1) span", row);
      let statusText = statusElement.text().trim();
              selectedData.push({
                Id:data[3],
                Date:data[4],
                AccountNo:data[5],
                firstname: data[6],
                lastname: data[7],
                email: data[8],
                mobile: data[9],
                status:statusText,
                
              });
            }
          });
          // console.log(selectedData);
          if(selectedData.length == 12){
          window.location.href = 'higherLevel.html';//redirect to the nextLEvel Page
          }
          else{
            alert("select the check box's to submit the data")
          }
          

          function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]];
    }
  }

  // Divide the selectedData into 3 persons
  let dividedData = {};
  let numberOfPersons = 3;
  let dataCopy = [...selectedData]; // Create a copy of selectedData

  for (let i = 1; i <= numberOfPersons; i++) {
    dividedData[`Person${i}`] = [];
  }

  shuffleArray(dataCopy); // Shuffle the array randomly

  for (let i = 0; i < dataCopy.length; i++) {
    let personIndex = i % numberOfPersons;
    let personKey = `Person${personIndex + 1}`;
    dividedData[personKey].push(dataCopy[i]);
  }

  console.log(dividedData);
  if(selectedData.length == 12){
    const url = '{{ url_for("ITNextLevelSubmit") }}?dividedData=' + encodeURIComponent(JSON.stringify(dividedData));

          window.location.href = url
          }
          else{
            alert("select the check box's to submit the data")
          }

        });
      });


      // date picker Starts

      document.addEventListener("DOMContentLoaded", function () {
        var f3 = flatpickr(document.getElementById("rangeCalendarFlatpickr"), {
          mode: "range",
          onClose: function (selectedDates, dateStr, instance) {
            if (selectedDates.length === 2) {
              instance.close();
            }
          },
        });
      });

      // date picker ENds
       
        
    </script>
    <!-- <script>
      $(document).ready(function () {
          var isNavigatingAway = false;
    
          // Update the user's active status every minute
          setInterval(function () {
              if (!isNavigatingAway) {
                  $.ajax({
                      type: "POST",
                      url: "/update_active_status",
                      success: function (response) {
                          console.log("Active status updated");
                      },
                      error: function (xhr, status, error) {
                          console.error("Error updating active status:", error);
                      }
                  });
              }
          }, 60000); // 1 minute interval
    
          // Add event listener for click events on links
          $(document).on('click', 'a', function () {
              isNavigatingAway = true;
          });
    
          // Add event listener for form submit events
          $(document).on('submit', 'form', function () {
              isNavigatingAway = true;
          });
    
          // Send a Beacon request when the tab is closed
          window.addEventListener('pagehide', function () {
              if (!isNavigatingAway) {
                  navigator.sendBeacon('/update_status');
                  console.log("Status updated to null via Beacon");
              }
          });
          
      });
    
    </script> -->
</body>

</html>