<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Cache-Control"
      content="no-store, no-cache, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' data:; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://cdn.datatables.net https://ajax.googleapis.com https://cdnjs.cloudflare.com http://gyrocode.github.io https://maxcdn.bootstrapcdn.com; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://fonts.googleapis.com https://maxcdn.bootstrapcdn.com https://cdn.datatables.net http://gyrocode.github.io; font-src 'self' https://fonts.gstatic.com;"
    />
    <title>Email sent</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/assets/css/custom.css"
    />
    <style>
      .form-control,
      .form-control {
        border: 1px solid #bdbfc2 !important;
      }
      .form-control:hover {
        border: 1px solid #bdbfc2 !important;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5 pt-5">
      <div class="row justify-content-center">
        <div class="col-md-6 pt-5">
          <div class="card">
            <div class="card-body bg-blue">
              <h4 class="text-center text-white">
                An password reset email, has been sent to your registered email
              </h4>
              <!-- <button class="btn btn-blue">Go to login</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script>
      $(document).ready(function () {
          var isNavigatingAway = false;
    
          // Update the user's active status every minute
          setInterval(function () {
              if (!isNavigatingAway) {
                  $.ajax({
                      type: "POST",
                      url: "/update_active_status",
                      success: function (response) {
                          console.log("Active status updated");
                      },
                      error: function (xhr, status, error) {
                          console.error("Error updating active status:", error);
                      }
                  });
              }
          }, 60000); // 1 minute interval
    
          // Add event listener for click events on links
          $(document).on('click', 'a', function () {
              isNavigatingAway = true;
          });
    
          // Add event listener for form submit events
          $(document).on('submit', 'form', function () {
              isNavigatingAway = true;
          });
    
          // Send a Beacon request when the tab is closed
          window.addEventListener('pagehide', function () {
              if (!isNavigatingAway) {
                  navigator.sendBeacon('/update_status');
                  console.log("Status updated to null via Beacon");
              }
          });
          
      });
    
    </script> -->
  </body>
</html>
