<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SDN-TELEMON-ACCOUNT DETAILS</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
      /* Tooltip styles */
      .tooltip {
        position: absolute;
        text-align: center;
        padding: 8px;
        font-size: 14px;
        background-color: #333;
        color: #fff;
        border-radius: 4px;
        pointer-events: none;
        /* Ensure the tooltip does not interfere with mouse events on the underlying elements */
        opacity: 0;
        /* Initially hide the tooltip */
      }
    </style>
  </head>

  <body>
    <script>
      var data = {{ total_data| safe}};
      const nodes = [];
      const links = [];
      console.log(data)
      // Sample data for nodes and links
      Object.keys(data['main_df']).forEach(function (key) {
        nodes.push({ id: key })
        nodes.push({ id: "Account Details" })
        nodes.push({ id: "Telemon Details" })
        nodes.push({ id: "SDN Details" })
        links.push({ source: key, target: "Account Details" })
        links.push({ source: key, target: "Telemon Details" })
        links.push({ source: key, target: "SDN Details" })

        Object.keys(data['main_df'][key]).forEach(function (value) {
          nodes.push({ id: value, value: data['main_df'][key][value] })
          links.push({ source: "Account Details", target: value })
        })
      })

      Object.keys(data['SDN_data']).forEach(function (key) {
        nodes.push({ id: key, value: data['SDN_data'][key] })
        links.push({ source: "SDN Details", target: key })
      })
      Object.keys(data['telemon_data']).forEach(function (key) {
        nodes.push({ id: key, value: data['telemon_data'][key] })
        links.push({ source: "Telemon Details", target: key })
      })

      // Set up the SVG container
      const width = 1200;
      const height = 1200;

      const svg = d3.select("body")
        .append("svg")
        .attr("width", width)
        .attr("height", height);

      // Create a force simulation
      const simulation = d3.forceSimulation(nodes)
        .force("link", d3.forceLink(links).id(d => d.id).distance(150)) // Increase the distance to prevent overlap
        .force("charge", d3.forceManyBody().strength(-200))
        .force("center", d3.forceCenter(width / 2, height / 2))
        .force("collide", d3.forceCollide(20)); // Adjust the radius as needed to prevent node overlap

      // Draw links
      const link = svg.selectAll(".link")
        .data(links)
        .enter()
        .append("line")
        .attr("class", "link")
        .attr("stroke", "#999")
        .attr("stroke-opacity", 0.6)
        .attr("stroke-width", d => Math.sqrt(d.value));

      // Draw nodes
      const node = svg.selectAll(".node")
        .data(nodes)
        .enter()
        .append("circle")
        .attr("class", "node")
        .attr("r", 20)
        .attr("fill", "#1f78b4")
        .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended))
        .on("mouseover", handleMouseOver)
        .on("mouseout", handleMouseOut);  // Hide tooltip on mouseout

      // Add tooltips to nodes
      function handleMouseOver(event, d) {
        // Display tooltip on hover
        tooltip.transition()
          .duration(200)
          .style("opacity", 1);
        if (d.value) {
          tooltip.html(d.value)
            .style("left", (event.pageX) + "px")
            .style("top", (event.pageY - 28) + "px");
        }
        else if (d.id) {
          tooltip.html(d.id)
            .style("left", (event.pageX) + "px")
            .style("top", (event.pageY - 28) + "px");
        }

      }

      function handleMouseOut() {
        // Hide tooltip on mouseout
        tooltip.transition()
          .duration(500)
          .style("opacity", 0);
      }

      // Create a tooltip container
      const tooltip = d3.select("body")
        .append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

      // Add labels to nodes
      const label = svg.selectAll(".label")
        .data(nodes)
        .enter()
        .append("text")
        .attr("class", "label")
        .attr("dy", 3)
        .attr("text-anchor", "middle")
        .text(d => truncateText(d.id, 25))
        .on("mouseover", handleMouseOver)
        .on("mouseout", handleMouseOut);


      function truncateText(text, maxLength) {
        if (typeof text === 'string' && text.length > maxLength) {
          return text.substring(0, maxLength) + '...';
        } else {
          return text;
        }
      }

      // Tick function to update positions
      simulation.on("tick", () => {
        link
          .attr("x1", d => d.source.x)
          .attr("y1", d => d.source.y)
          .attr("x2", d => d.target.x)
          .attr("y2", d => d.target.y);

        node
          .attr("cx", d => d.x)
          .attr("cy", d => d.y);

        label
          .attr("x", d => d.x)
          .attr("y", d => d.y);
      });

      // Functions for drag events
      function dragstarted(event, d) {
        if (!event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(event, d) {
        d.fx = event.x;
        d.fy = event.y;
      }

      function dragended(event, d) {
        if (!event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }
    </script>
    <!-- <script>
      $(document).ready(function () {
          var isNavigatingAway = false;
    
          // Update the user's active status every minute
          setInterval(function () {
              if (!isNavigatingAway) {
                  $.ajax({
                      type: "POST",
                      url: "/update_active_status",
                      success: function (response) {
                          console.log("Active status updated");
                      },
                      error: function (xhr, status, error) {
                          console.error("Error updating active status:", error);
                      }
                  });
              }
          }, 60000); // 1 minute interval
    
          // Add event listener for click events on links
          $(document).on('click', 'a', function () {
              isNavigatingAway = true;
          });
    
          // Add event listener for form submit events
          $(document).on('submit', 'form', function () {
              isNavigatingAway = true;
          });
    
          // Send a Beacon request when the tab is closed
          window.addEventListener('pagehide', function () {
              if (!isNavigatingAway) {
                  navigator.sendBeacon('/update_status');
                  console.log("Status updated to null via Beacon");
              }
          });
          
      });
    
    </script> -->
  </body>
</html>
