<!DOCTYPE html>
<html lang="en">


<head>
   
    {% include 'metaData.html' %}

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <style>
        .card {
            width: 80vw;
        }

        .text-primary {
            color: #00579c !important;
        }

        #tb_1 {
            cursor: default;
            background-color: #00579c !important;
            border-color: #00579c !important;
        }


        .layout-px-spacing {
            min-height: calc(100vh - 166px) !important;
        }

        #profileMLRO {
            justify-content: center !important;
            gap: 30px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            border-bottom: 1.5px solid rgba(128, 128, 128, 0.114);
            padding-bottom: 10px;
        }

        #profileMLRO:hover {
            background-color: #b0b0b024;
            border-radius: 5px;
        }

        .paths:hover {
            text-decoration: underline;
        }

        .profileName {
            font-size: 18px !important;
            font-weight: bold !important;
            color: #00579c !important;
        }

        .mb-3 {
            font-size: 15px !important;
            font-weight: normal !important;
            color: #80808088 !important;
        }
    </style>

    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->


    {% if msg %}
    <script>
        alert('{{ msg }}')
    </script>
    {% endif %}

</head>
<div class="success-message">
    {{ success_message }}
</div>

<body>
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
       {% include 'header.html' %}

    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-menu">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </a>

            <ul class="navbar-nav flex-row" style="gap: 10px;">
                <li>
                    <div class="page-header">
                        <div class="page-title">
                            <nav class="breadcrumb-one" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for('ITdashboard') }}"
                                            class="text-blue font-weight-bold">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-home">
                                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                            </svg>
                                        </a></li>
                                    <!-- <li class="breadcrumb-item"><a href="javascript:void(0);">Components</a></li> -->
                                    <!-- <li class="breadcrumb-item active" aria-current="page">Transaction Monitoring</li> -->
                                </ol>
                            </nav>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);" class="text-primary">/ <span class="paths ">Alerts Distribution when Users are in Leave</span></a>

                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

   

        <!--  BEGIN CONTENT PART  -->
        <!--  BEGIN MAIN CONTAINER  -->
        <div class="main-container" id="container">

            <div class="overlay"></div>
            <div class="search-overlay"></div>

            <!--  BEGIN SIDEBAR  -->
            {% include 'sidebar.html' %}

            <!--  END SIDEBAR  -->

            <!--  BEGIN CONTENT AREA  -->
            <div id="content" class="main-content">
                <div class="layout-px-spacing">

                    <div class="row layout-top-spacing">

                        <div class="col-12">

                            <div class="statbox widget box box-shadow">


                                <div class="border rounded  shadow-sm">
                                    <div class="row m-1 justify-content-center">

                                        <div class="col-lg-4 mt-3">
                                            <div class="btn-group ">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text ">On Leave MLRO's : </div>
                                                </div>
                                                <select class="form-inline form-control-sm col-5 " name="role"
                                                    id="role">
                                                    <option disabled selected>Select MLRO's on Leave</option>
                                                    {% for mlro in mlroOnLeaveName %}
                                                    <option value="{{ mlro }}">{{ mlro }}</option>
                                                    {% endfor %}
                                                    <option value="">Show All</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-3">
                                            <div class="btn-group submitter-group ">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Date</div>
                                                </div>
                                                <input id="rangeCalendarFlatpickr"
                                                    class="form-control-sm flatpickr flatpickr-input active" type="text"
                                                    style="background-color: transparent !important;"
                                                    placeholder="Select Date Range.." />
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-3">
                                            <div class="btn-group submitter-group ">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">On Leave CM/SM's</div>
                                                </div>
                                                <select class="form-inline form-control-sm col-5 " name="status"
                                                    id="status">
                                                    <option disabled selected>Select CM/SM On Leave</option>
                                                    {% for cm in cmOnLeaveName%}
                                                    <option value="{{ cm }}">{{ cm }}</option>
                                                    {% endfor %}
                                                    <option value="">Show All</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 text-center mt-1 mb-2">
                                        <button id="filter-button" class="btn btn-sm btn-blue mt-3"
                                            onclick="codeFilter()">Apply Filters</button>
                                    </div>



                                </div>
                                <div class="d-flex justify-content-center mt-5" style="gap: 700px;">
                                    <div class="d-flex align-items-center flex-column">
                                        <label>No MLRO's On Leave</label>
                                        <p style="font-size: 50px;">
                                            {{countMLRO}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-column">
                                        <label>No CM/SM's On Leave</label>
                                        <p style="font-size: 50px">
                                            {{countCM}}
                                        </p>

                                    </div>
                                </div>

                                <table id="dtExample" class="display mt-5">
                                    <thead>
                                        <tr>
                                            <th>Allocated Date</th>
                                            <th>Role</th>
                                            <th>On Leave Candidate</th>
                                            <th>Mail ID</th>
                                            <th>Total Alerts Pendding</th>
                                            <th>No of Alerts to Send</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Conform</th>




                                        </tr>
                                    </thead>
                                    <tbody id="tableBody">
                                        {% for key,userInfo in data.items() %}
                                        {% for userKey,user in userInfo.items() %}
                                        {% if ((user["tickets"]|length)-(user["user_info"]["count"])) > 0 %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td>{{ user["user_info"]["role"] }}</td>
                                            <td>{{ user["user_info"]["name"] }}</td>
                                            <td>{{ user["user_info"]["emailid"] }}</td>
                                            <td>{{ (user["tickets"]|length)-(user["user_info"]["count"]) }}</td>
                                            <td>
                                                <input type="number"
                                                    class="form-inline form-control col-12 sendAlertsNum"
                                                    placeholder="No of Alerts..." />
                                            </td>
                                            <td>{{ user["user_info"]["name"] }}</td>
                                            <td>
                                                <select class="form-inline form-control col-12 toWorking"
                                                    name="noOfAlerts">
                                                    <option disabled selected>Select</option>
                                                    {% if user["user_info"]["role"] == "MLRO" %}
                                                    {% for mlroWorking in workingMLRO %}
                                                    <option value="{{mlroWorking}}">{{mlroWorking}}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                    {% if user["user_info"]["role"] == "CM/SM" %}
                                                    {% for cmWorking in workingCM %}
                                                    <option value="{{cmWorking}}">{{cmWorking}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                                    {% endif %}
                                                    <option value="">none</option>
                                            </td>
                                            <td>
                                                <form action="{{'permisionForm'}}" method="POST" class="myform"
                                                    onsubmit="return validateForm()">
                                                    <input required type="text" class="d-none" name="from"
                                                        value="{{ user['user_info']['emailid'] }}">
                                                    <input required type="text" class="d-none" name="role"
                                                        value="{{ user['user_info']['role'] }}">
                                                    <input required type="date" class="d-none" name="dateAllocated"
                                                        value="{{ key }}">
                                                    <input required type="number" class="d-none NoalerstToSend"
                                                        name="alertsToSend">
                                                    <input required type="text" class="d-none to" name="to">

                                                    <button type="submit" class="leaveFormBtn btn btn-sm btn-success"
                                                        style="width: 30px; height: 30px; padding: 0">
                                                        <svg viewBox="0 0 24 24" width="70%" height="70%" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                                stroke-linejoin="round"></g>
                                                            <g id="SVGRepo_iconCarrier">
                                                                <path d="M4.89163 13.2687L9.16582 17.5427L18.7085 8"
                                                                    stroke="#ffffff" stroke-width="2.5"
                                                                    stroke-linecap="round" stroke-linejoin="round">
                                                                </path>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}





    <!-- END MAIN CONTAINER -->


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="../static/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../static/assets/js/app.js"></script>

    <!-- viwe JS start -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>


    <!-- viwe JS ends -->


    <script type="text/javascript" language="javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            App.init();
        });


    </script>
    <script src="../static/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="../static/plugins/apex/apexcharts.min.js"></script>

    <script src="../static/assets/js/dashboard/dash_1.js"></script>

    <!-- <script src="../static/assets/js/tables.js/tableCheckBox.js"></script> -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

    <script src="../static/plugins/table/datatable/datatables.js"></script>

    <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js">
        </script>
    <script>
        $(document).ready(function () {
            $('#usersTab').click(function () {
                $('#addUserTab, #allUsersTab').toggle();
            });
        });
    </script>

    <script>


        function datePicker() {
            var selectedDates = []; // Initialize an array to hold selected dates
            var dateRangeInput = document.getElementById('rangeCalendarFlatpickr');

            return flatpickr(dateRangeInput, {
                mode: "range",
                onChange: function (selected) {
                    selectedDates = selected;
                }
            });
        }

        var flatpickrInstance = datePicker();


        function filterTableByDateRange(startDate, endDate) {
            var amou = false;
            var table = document.getElementById("tableBody");
            var rows = table.getElementsByTagName("tr");
            console.log(startDate);
            console.log(endDate);
            // Show all rows when the date range is empty
            if (!startDate || !endDate) {
                for (var i = 0; i < rows.length; i++) {
                    rows[i].style.display = "";
                }
                return;
            }
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var dateCell_undef = row.getElementsByTagName("td")[0]; // Assuming the date is in the 5th index
                var dateCell = dateCell_undef.textContent;
                if (dateCell) {
                    console.log(typeof (dateCell));

                    if (dateCell >= startDate && dateCell <= endDate) {
                        row.style.display = "";
                        amou = true;
                        console.log(" IN RANGE DATES");
                    } else {
                        row.style.display = "none";
                        amou = false;
                        console.log("NOT IN RANGE DATES");
                    }
                }
            }
            return amou;
        }


        function formatDate(date) {
            var year = date.getFullYear();
            var month = ('0' + (date.getMonth() + 1)).slice(-2);
            var day = ('0' + date.getDate()).slice(-2);

            // Concatenate components in the "YYYY-MM-DD" format
            return year + '-' + month + '-' + day;
        }



        function roleInfo(roleInfo, leaveStatus) {
            var user = {
                role: roleInfo,
                leave: leaveStatus
            };

            var roleElements = document.getElementsByClassName("roleSelect");
            var leaveSelect = document.getElementsByClassName("leaveSelect");
            for (var i = 0; i < roleElements.length; i++) {
                roleElements[i].value = user.role;
                leaveSelect[i].value = user.leave;
            }
        }

        var dataTable;
        document.addEventListener("DOMContentLoaded", function () {



            // Initialize DataTable
            $(document).ready(function () {
                dataTable = $("#dtExample").DataTable({
                    rowReorder: {
                        selector: "td:nth-child(2)",
                    },
                    responsive: true
                })
            })
        })


        function codeFilter() {
            let role = document.getElementById('role').value;
            let status = document.getElementById('status').value;
            let mlroELement = document.getElementById('role');
            let cmELement = document.getElementById('status');

            if (dataTable) {
                if ((role.length != 0 && status.length != 0) && (role != "Select MLRO's on Leave" && status != "Select CM/SM On Leave") && (flatpickrInstance.selectedDates.length === 2)) {

                    dataTable.columns().search('');

                    dataTable.columns(2).search(role);
                    dataTable.columns(2).search(status);
                    var startDate = flatpickrInstance.selectedDates[0];
                    var endDate = flatpickrInstance.selectedDates[1];
                    filterTableByDateRange(formatDate(startDate), formatDate(endDate));
                }
               

                else if ((role.length != 0) && (role != "Select MLRO's on Leave") && (flatpickrInstance.selectedDates.length === 2)) {
                    dataTable.columns().search('');

                    dataTable.columns(2).search(role);

                    var startDate = flatpickrInstance.selectedDates[0];
                    var endDate = flatpickrInstance.selectedDates[1];
                    filterTableByDateRange(formatDate(startDate), formatDate(endDate));
                }
                
                else if ((role.length != 0) && (role != "Select MLRO's on Leave")) {
                    dataTable.columns().search('');

                    dataTable.columns(2).search(role);


               
                }
                else if ((status.length != 0) && (status != "Select CM/SM On Leave") && (flatpickrInstance.selectedDates.length === 2)) {
                    dataTable.columns().search('');

                    dataTable.columns(2).search(status);
                    var startDate = flatpickrInstance.selectedDates[0];
                    var endDate = flatpickrInstance.selectedDates[1];
                    filterTableByDateRange(formatDate(startDate), formatDate(endDate));
                }
                
                else if ((status.length != 0) && (status != "Select CM/SM On Leave")) {
                    dataTable.columns().search('');

                    dataTable.columns(2).search(status);

                  
                }
                else if ((flatpickrInstance.selectedDates.length === 2) && ((status.length == 0) || (status == "Select CM/SM On Leave"))) {
                    dataTable.columns().search('');

                    var startDate = flatpickrInstance.selectedDates[0];
                    var endDate = flatpickrInstance.selectedDates[1];
                    filterTableByDateRange(formatDate(startDate), formatDate(endDate));
                }
               
                else if ((flatpickrInstance.selectedDates.length === 2) && ((role.length == 0) || (role == "Select MLRO's on Leave"))) {
                    dataTable.columns().search('');

                    var startDate = flatpickrInstance.selectedDates[0];
                    var endDate = flatpickrInstance.selectedDates[1];
                    filterTableByDateRange(formatDate(startDate), formatDate(endDate));
                }
                else {
                    // If code is not provided, clear the search, clear the table, and draw
                    dataTable.search('').columns().search('').draw();
                    var table = document.getElementById("tableBody");
                    var rows = table.getElementsByTagName("tr");

                    // Show all rows when the date range is empty
                    for (var i = 0; i < rows.length; i++) {
                        rows[i].style.display = "";
                    }

                    return; // exit the function to prevent further processing
                }

                // Redraw the table to apply the filter
                dataTable.draw();
            } else {
                console.error("DataTable is not defined.");
            }


        }

        document.addEventListener('DOMContentLoaded', function () {
            // Select all elements with the class 'leaveFormBtn'
            document.querySelectorAll('.leaveFormBtn').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    // Find the closest ancestor tr element
                    var row = this.closest('tr');

                    // Get values from input and select fields within the current row
                    var alertsNum = row.querySelector('.sendAlertsNum').value;
                    var toWorking = row.querySelector('.toWorking').value;

                    // Set values to hidden input fields within the current row
                    row.querySelector('.NoalerstToSend').value = alertsNum;
                    if (toWorking != "Select" && toWorking.length != 0) {
                        row.querySelector('.to').value = toWorking;
                    }


                });
            });
        });
        function validateForm() {
            var fromInput = document.querySelector('.from');
            var dateAllocatedInput = document.querySelector('.dateAllocated');
            var alertsToSendInput = document.querySelector('.NoalerstToSend');
            var toInput = document.querySelector('.to');

            if (!fromInput.value || !dateAllocatedInput.value || !alertsToSendInput.value || !toInput.value) {
                alert("Please fill in all required fields.")
                return false; // Prevent form submission
            }

            return confirm('Are you sure to transfer these Alerst ?');
        }

    </script>
<!-- <script>
    $(document).ready(function () {
        var isNavigatingAway = false;
  
        // Update the user's active status every minute
        setInterval(function () {
            if (!isNavigatingAway) {
                $.ajax({
                    type: "POST",
                    url: "/update_active_status",
                    success: function (response) {
                        console.log("Active status updated");
                    },
                    error: function (xhr, status, error) {
                        console.error("Error updating active status:", error);
                    }
                });
            }
        }, 60000); // 1 minute interval
  
        // Add event listener for click events on links
        $(document).on('click', 'a', function () {
            isNavigatingAway = true;
        });
  
        // Add event listener for form submit events
        $(document).on('submit', 'form', function () {
            isNavigatingAway = true;
        });
  
        // Send a Beacon request when the tab is closed
        window.addEventListener('pagehide', function () {
            if (!isNavigatingAway) {
                navigator.sendBeacon('/update_status');
                console.log("Status updated to null via Beacon");
            }
        });
        
    });
  
  </script> -->
</body>

</html>