<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
    />
    <title>Register -- Zeneye</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="../static/plugins/bootstrap-select/bootstrap-select.min.css"
    />

    <!-- Latest compiled and minified JavaScript -->

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,600,700"
      rel="stylesheet"
    />
    <link
      href="../static/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../static/assets/css/plugins.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../static/assets/css/authentication/form-1.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/assets/css/forms/theme-checkbox-radio.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/assets/css/forms/switches.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/assets/css/custom.css"
    />
    {% if msg %}
    <script>
      alert("{{ msg }}");
    </script>
    {% endif %}

    <style>
      .dropdown-toggle {
        border: none !important;
        border-bottom: 1px solid #bfc9d4d1 !important;
        border-radius: 0 !important;
        padding-left: 40px !important;
      }
      .filter-option {
        font-family: sans-serif;
        color: #6c757de0;
        font-weight: 550;
      }
    </style>
  </head>

  <body class="form">
    <div class="form-container">
      <div class="form-form">
        <div class="form-form-wrap">
          <div class="form-container">
            <div class="form-content text-center">
              <h2 class="logo font-weight-bold">ZenEye</h2>
              <h5 class="font-weight-bold text-blue mt-2">Sign Up</h5>

              <form
                class="text-left mt-4"
                method="POST"
                action="{{ url_for('post_registration') }}"
              >
                <div class="form">
                  <div id="username-field" class="field-wrapper input">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-user"
                    >
                      <path
                        d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                      ></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    <input
                      id="username"
                      name="username"
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      required
                    />
                  </div>

                  <div id="email" class="field-wrapper input">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-at-sign register"
                    >
                      <circle cx="12" cy="12" r="4"></circle>
                      <path
                        d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"
                      ></path>
                    </svg>
                    <input
                      id="email"
                      name="email"
                      type="text"
                      class="form-control"
                      placeholder="Email"
                      required
                    />
                  </div>

                  <div id="role" class="field-wrapper input" style="gap: 10px">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-user-check"
                      style="z-index: 2"
                    >
                      <path
                        d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"
                      ></path>
                      <circle cx="8.5" cy="7" r="4"></circle>
                      <polyline points="17 11 19 13 23 9"></polyline>
                    </svg>

                    <select
                      id="role"
                      class="selectpicker form-control"
                      name="role"
                      required
                    >
                      <option disabled selected>Designation</option>
                      <option value="IT Officer">IT Officer</option>
                      <option value="MLRO">MLRO</option>
                      <option value="CM/SM">CM/SM</option>
                      <option value="AGM">AGM</option>
                      <option value="DGM/PO">DGM/PO</option>
                    </select>
                  </div>

                  <div id="mobile" class="field-wrapper input">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-phone"
                    >
                      <path
                        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                      ></path>
                    </svg>
                    <input
                      id="mobile"
                      name="mobileno"
                      type="mobile"
                      class="form-control"
                      placeholder="Mobile No"
                      required
                    />
                  </div>

                  <div id="password-field" class="field-wrapper input mb-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-lock"
                    >
                      <rect
                        x="3"
                        y="11"
                        width="18"
                        height="11"
                        rx="2"
                        ry="2"
                      ></rect>
                      <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                    </svg>
                    <input
                      id="password"
                      name="password1"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <div id="password-field" class="field-wrapper input mb-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-lock"
                    >
                      <rect
                        x="3"
                        y="11"
                        width="18"
                        height="11"
                        rx="2"
                        ry="2"
                      ></rect>
                      <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                    </svg>
                    <input
                      id="password"
                      name="password2"
                      type="password"
                      class="form-control"
                      placeholder="Re-Enter Password"
                      required
                    />
                  </div>
                  <div class="d-sm-flex justify-content-between">
                    <!-- <div class="field-wrapper toggle-pass">
                      <p class="d-inline-block">Show Password</p>
                      <label class="switch s-primary">
                        <input
                          type="checkbox"
                          id="toggle-password"
                          class="d-none"
                        />
                        <span class="slider round"></span>
                      </label>
                    </div> -->
                    <div class="field-wrapper">
                      <button type="submit" class="btn btn-gradient" value="">
                        Get Started!
                      </button>
                    </div>
                  </div>

                  <div class="field-wrapper pt-5">
                    <p class="signup-link font-weight-bold register pt-4">
                      Already have an account?
                      <a href="{{ url_for('sign_in') }}" class="text-danger"
                        >Log in here</a
                      >
                    </p>
                  </div>
                </div>
              </form>
              <!-- <p class="terms-conditions">
              © 2023 All Rights Reserved.
              <a href="#" class="text-blue">Transaction Monitoring</a>
            </p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="form-image">
        <div class="l-image1 l-image"></div>
      </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="../static/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="../static/assets/js/authentication/form-1.js"></script>

    <script src="../static/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!-- <script>
      $(document).ready(function () {
          var isNavigatingAway = false;
    
          // Update the user's active status every minute
          setInterval(function () {
              if (!isNavigatingAway) {
                  $.ajax({
                      type: "POST",
                      url: "/update_active_status",
                      success: function (response) {
                          console.log("Active status updated");
                      },
                      error: function (xhr, status, error) {
                          console.error("Error updating active status:", error);
                      }
                  });
              }
          }, 60000); // 1 minute interval
    
          // Add event listener for click events on links
          $(document).on('click', 'a', function () {
              isNavigatingAway = true;
          });
    
          // Add event listener for form submit events
          $(document).on('submit', 'form', function () {
              isNavigatingAway = true;
          });
    
          // Send a Beacon request when the tab is closed
          window.addEventListener('pagehide', function () {
              if (!isNavigatingAway) {
                  navigator.sendBeacon('/update_status');
                  console.log("Status updated to null via Beacon");
              }
          });
          
      });
    
    </script> -->
  </body>
</html>
