<!DOCTYPE html>
<html lang="en">
  <head>
   
    {% include 'metaData.html' %}



    <style>
      .layout-px-spacing {
        min-height: calc(100vh - 166px) !important;
      }
    </style>

    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
  </head>
  <body>
    <!-- BEGIN LOADER -->
    <div id="load_screen">
      <div class="loader">
        <div class="loader-content">
          <div class="spinner-grow align-self-center"></div>
        </div>
      </div>
    </div>
    <!--  END LOADER -->

     <!--  BEGIN NAVBAR  -->
     {% include 'header.html' %}

    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
      <header class="header navbar navbar-expand-sm">
        <a
          href="javascript:void(0);"
          class="sidebarCollapse"
          data-placement="bottom"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-menu"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </a>

        <ul class="navbar-nav flex-row">
          <li>
            <div class="page-header">
              <div class="page-title">
               <nav class="breadcrumb-one" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('dashbord') }}">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    </a></li>
                    <!-- <li class="breadcrumb-item"><a href="javascript:void(0);">Components</a></li> -->
                    <li class="breadcrumb-item active text-blue font-weight-bold" aria-current="page">Transaction Monitoring</li>
                </ol>
            </nav>
            </div>
          </li>
        </ul>
      </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
      <div class="overlay"></div>
      <div class="search-overlay"></div>

      <!--  BEGIN SIDEBAR  -->
       {% include 'alldashboardSidebar.html' %}
      <!--  END SIDEBAR  -->

      <!--  BEGIN CONTENT PART  -->
      <div id="content" class="main-content">
        <div class="layout-px-spacing">
          <div class="row layout-top-spacing mt-3">
            {% for group_name,grouped_values in crumbs_data.items() %}
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
              <div class="list-group">
                <p class="list-group-item bg-blue mb-0 list-group-item-action active" aria-current="true">{{group_name}}</p>
                {% for key,val in grouped_values.items() %}
                {% if key not in ['TM_8_3','TM_3_1'] %}
                <a type="button"
                        class="list-group-item list-group-item-action  mr-2"
                        data-toggle="modal"
                        data-target="#exampleModal{{key}}">
                  <b>DV_{{key}}</b>
                  <br>{{val}}</a>
                
                <!-- Button trigger modal -->
                <!-- Modal -->
                <div class="modal fade"
                      id="exampleModal{{key}}"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel{{key}}"
                      aria-hidden="true">
                   <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel{{key}}">
                              {{key}}
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              
                            </button>
                          </div>
                      <div class="modal-body">
                        <div class="list-group-item list-group-item-action border-0">
                          <form action="{{ url_for(key) }}" method="POST">
                            <div class="mb-3">
                              <label for="input_data" class="form-label">Select Date:</label>
                              <input type="date" name="user_input_date_str" id="input_data" class="form-control rounded-0 " required="">
                            </div>
                       </div>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-sm " data-dismiss="modal">
                              <i class="flaticon-cancel-12 text-blue"></i> Close
                            </button>
                        <button type="submit" class="btn btn-blue btn-sm">Submit</button>
                      </form>
                        
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              
              </div>
            </div>
            {% endfor %}
                   
         
          </div>
          
        </div>
        {% include 'footer.html' %}

      </div>
      <!--  END CONTENT PART  -->
    </div>
    <!-- END MAIN CONTAINER -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="../static/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../static/assets/js/app.js"></script>
    <script>
      $(document).ready(function () {
        App.init();
      });
    </script>
    <script src="../static/plugins/highlight/highlight.pack.js"></script>
    <script src="../static/assets/js/custom.js"></script>
     <!--  BEGIN CUSTOM SCRIPT FILE  -->
    <!-- <script src="../static/assets/js/scrollspyNav.js"></script> -->
    <!-- <script>
      $("#yt-video-link").click(function () {
        var src = "https://www.youtube.com/embed/YE7VzlLtp-4";
        $("#videoMedia1").modal("show");
        $("<iframe>")
          .attr({
            src: src,
            width: "560",
            height: "315",
            allow: "encrypted-media",
          })
          .css("border", "0")
          .appendTo("#videoMedia1 .video-container");
      });
      $("#vimeo-video-link").click(function () {
        var src = "https://player.vimeo.com/video/1084537";
        $("#videoMedia2").modal("show");
        $("<iframe>")
          .attr({
            src: src,
            width: "560",
            height: "315",
            allow: "encrypted-media",
          })
          .css("border", "0")
          .appendTo("#videoMedia2 .video-container");
      });
      $("#videoMedia1 button, #videoMedia2 button").click(function () {
        $("#videoMedia1 iframe, #videoMedia2 iframe").removeAttr("src");
      });
    </script> -->
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <!-- <script>
      $(document).ready(function () {
          // Add event listener for beforeunload event
          $(window).on('beforeunload', function () {
              // Send AJAX request to update status when tab is closing
              $.ajax({
                  type: "POST",
                  url: "/update_status",
                  success: function (response) {
                      console.log("Status updated to null");
                  },
                  error: function (xhr, status, error) {
                      console.error("Error updating status:", error);
                  }
              });
          });
      });
  </script> -->
  </body>
</html>
